@media (min-width: 300px) and (max-width: 500px) {
  .educationHeading {
    position: relative;
  }

  .educationHeading::after {
    position: absolute;
    content: "";
    display: block;
    width: 11rem;
    height: 2px;
    background-color: #cbcbda;
    left: 8rem;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .educationHeading {
    position: relative;
  }

  .educationHeading::after {
    position: absolute;
    content: "";
    display: block;
    width: 15rem;
    height: 2px;
    background-color: #cbcbda;
    left: 32rem;
  }
}
