@media (min-width: 300px) and (max-width: 400px) {
  .experienceHeading {
    position: relative;
  }
  .experienceHeading::after {
    position: absolute;
    content: "";
    display: block;
    width: 12rem;
    height: 2px;
    background-color: #cbcbda;
    left: 3rem;
  }
  .experienceSectionShadow {
    box-shadow: 0px 0px 20px grey;
    border-radius: 3rem 0;
    margin-top: 2rem;
    padding: 1.4rem;
    background-color: #fcf7f7;
  }
}


@media (min-width: 400px) and (max-width: 600px) {
  .experienceHeading {
    position: relative;
  }
  .experienceHeading::after {
    position: absolute;
    content: "";
    display: block;
    width: 12rem;
    height: 2px;
    background-color: #cbcbda;
    left: 4.9rem;
  }
  .experienceSectionShadow {
    box-shadow: 0px 0px 20px grey;
    border-radius: 3rem 0;
    margin-top: 2rem;
    padding: 1.4rem;
    background-color: #fcf7f7;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .experienceHeading {
    position: relative;
  }

  .experienceHeading::after {
    position: absolute;
    content: "";
    display: block;
    width: 15rem;
    height: 2px;
    background-color: #cbcbda;
    left: 30rem;
  }

  .experienceSectionShadow {
    box-shadow: 0px 0px 20px grey;
    border-radius: 3rem 0;
    margin-top: 2rem;
    padding: 1.4rem;
    background-color: #fcf7f7;
  }
}
