@media (min-width: 300px) and (max-width: 500px) {
  .SkillsHeading {
    position: relative;
  }

  .SkillsHeading::after {
    position: absolute;
    content: "";
    display: block;
    width: 7rem;
    height: 2px;
    background-color: #cbcbda;
    left: 10rem;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .SkillsHeading {
    position: relative;
  }

  .SkillsHeading::after {
    position: absolute;
    content: "";
    display: block;
    width: 11rem;
    height: 2px;
    background-color: #cbcbda;
    left: 34rem;
  }
}
