@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/poppins";
@import "@fontsource/poppins/700.css";

@import "@fontsource/roboto";
@import "@fontsource/roboto/500.css";

@import "@fontsource/playfair-display";

.no-glare .glare-wrapper,
.no-glare .glare-inner {
  background: transparent !important;
  opacity: 0 !important;
  pointer-events: none;
}